@model IEnumerable<SIGA.Models.TBL_TIPOS>

@{
    ViewBag.Title = "Index";
}
<p>
    @Html.ActionLink("Crear nueva", "Create")
</p>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Categorías</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table text-center">
                        <thead class=" text-primary">
                        <th>
                            Nombre
                        </th>

                        <th class="text-right">
                        </th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    Aceite hidráulico
                                </td>
                                <td>
                                    <input type="button" class="btn btn-warning" value="Modificar" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    Banda de frenos
                                </td>
                                <td>
                                    <input type="button" class="btn btn-warning" value="Modificar" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    Bombillo
                                </td>
                                <td>
                                    <input type="button" class="btn btn-warning" value="Modificar" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    Bujía
                                </td>
                                <td>
                                    <input type="button" class="btn btn-warning" value="Modificar" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    Motor de arranque
                                </td>
                                <td>
                                    <input type="button" class="btn btn-warning" value="Modificar" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    Retrovisor
                                </td>
                                <td>
                                    <input type="button" class="btn btn-warning" value="Modificar" />
                                </td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TIPO_DESCRIP)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TIPO_DESCRIP)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>*@
