@model IEnumerable<SIGA.Models.TBL_UBICACIONES>

@{
    ViewBag.Title = "Index";
}


<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Pasillos</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table text-center">
                        <thead class=" text-primary">
                        <th>
                            Pasillo
                        </th>

                        <th class="text-right">
                        </th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    1
                                </td>
                                <td>
                                    <input type="button" class="btn btn-warning" value="Modificar" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    2
                                </td>
                                <td>
                                    <input type="button" class="btn btn-warning" value="Modificar" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    3
                                </td>
                                <td>
                                    <input type="button" class="btn btn-warning" value="Modificar" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    4
                                </td>
                                <td>
                                    <input type="button" class="btn btn-warning" value="Modificar" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    5
                                </td>
                                <td>
                                    <input type="button" class="btn btn-warning" value="Modificar" />
                                </td>
                                <td></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Secciones</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table text-center">
                        <thead class=" text-primary">
                        <th>
                            Sección
                        </th>

                        <th class="text-right">
                        </th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    1
                                </td>
                                <td>
                                    <input type="button" class="btn btn-warning" value="Modificar" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    2
                                </td>
                                <td>
                                    <input type="button" class="btn btn-warning" value="Modificar" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    3
                                </td>
                                <td>
                                    <input type="button" class="btn btn-warning" value="Modificar" />
                                </td>
                                <td></td>
                            </tr>
                            <tr></tr>
                            <tr></tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Niveles</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table text-center">
                        <thead class=" text-primary">
                        <th>
                            Nivel
                        </th>

                        <th class="text-right">
                        </th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    1
                                </td>
                                <td>
                                    <input type="button" class="btn btn-warning" value="Modificar" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    2
                                </td>
                                <td>
                                    <input type="button" class="btn btn-warning" value="Modificar" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    3
                                </td>
                                <td>
                                    <input type="button" class="btn btn-warning" value="Modificar" />
                                </td>
                                <td></td>
                            </tr>
                            <tr> </tr>
                            <tr> </tr>
                        

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>








@*<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Ubicaciones</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table text-center">
                        <thead class=" text-primary">
                        <th>
                            Pasillo
                        </th>
                        <th>
                            Sección
                        </th>

                        <th>
                            Nivel
                        </th>
                        <th class="text-right">
                        </th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    1
                                </td>
                                <td>
                                    1
                                </td>
                                <td>
                                    1
                                </td>
                                <td class="text-right">
                                    <input type="button" class="btn btn-warning" value="Modificar" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    1
                                </td>
                                <td>
                                    2
                                </td>
                                <td>
                                    1
                                </td>
                                <td class="text-right">
                                    <input type="button" class="btn btn-warning" value="Modificar" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    1
                                </td>
                                <td>
                                    3
                                </td>
                                <td>
                                    1
                                </td>
                                <td class="text-right">
                                    <input type="button" class="btn btn-warning" value="Modificar" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    1
                                </td>
                                <td>
                                    1
                                </td>
                                <td>
                                    2
                                </td>
                                <td class="text-right">
                                    <input type="button" class="btn btn-warning" value="Modificar" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    1
                                </td>
                                <td>
                                    2
                                </td>
                                <td>
                                    2
                                </td>
                                <td class="text-right">
                                    <input type="button" class="btn btn-warning" value="Modificar" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    1
                                </td>
                                <td>
                                    3
                                </td>
                                <td>
                                    2
                                </td>
                                <td class="text-right">
                                    <input type="button" class="btn btn-warning" value="Modificar" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    1
                                </td>
                                <td>
                                    1
                                </td>
                                <td>
                                    3
                                </td>
                                <td class="text-right">
                                    <input type="button" class="btn btn-warning" value="Modificar" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    1
                                </td>
                                <td>
                                    2
                                </td>
                                <td>
                                    3
                                </td>
                                <td class="text-right">
                                    <input type="button" class="btn btn-warning" value="Modificar" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    1
                                </td>
                                <td>
                                    3
                                </td>
                                <td>
                                    3
                                </td>
                                <td class="text-right">
                                    <input type="button" class="btn btn-warning" value="Modificar" />
                                </td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>*@
















@*<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UBIC_PASILLO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UBIC_SECCION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UBIC_NIVEL)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UBIC_PASILLO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UBIC_SECCION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UBIC_NIVEL)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>*@
