@model SIGA.Models.ForgotPasswordViewModel
@{
    Layout = "~/Views/Shared/_Layout-login.cshtml";
}

<body>
    <div class="" style="padding: 4% 0 1px 0; text-align:center">
        <div class="row">
            <div class="col-12 logo-section">
                <a href='@Url.Action("login", "Account")' class="logo">
                    <img src="~/Content/assets/img/logo-small.png" alt="logo" style="width:10%" />
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-11 mx-auto">
                <div class="card" style=" box-shadow: 0 0 10px -5px #bcbebf;">
                    <div class="card-body">
                        <section id="loginForm">
                            <div class="row">
                                <div class="col-lg-10 col-md-10 col-sm-9 col-12 mx-auto form-wrapper">
                                    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <h4>Ingresar E-mail.</h4>
                                        <hr />
                                        @Html.ValidationSummary("", new { @class = "text-danger" })
                                        <div class="form-group input-rounded">
                                            @Html.LabelFor(m => m.Email, new { @class = "col-md-4 control-label" })
                                            <div class="form-group input-rounded">
                                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group input-rounded" style="text-align:center">
                                            <button type="submit" class="btn btn-success" style="text-align:center"> Enviar link </button>
                                        </div>
                                    }


                                </div>
                            </div>
                        </section>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--page body ends -->
    <!-- SCRIPT LOADING START FORM HERE /////////////-->
    <!-- plugins:js -->
    <script src="~/Content/vendors/js/core.js"></script>
    <script src="~/Content/vendors/js/vendor.addons.js"></script>
    <!-- endinject -->
    <!-- Vendor Js For This Page Ends-->
    <!-- Vendor Js For This Page Ends-->
    <!-- build:js -->
    <script src="~/Content/js/template.js"></script>
    <!-- endbuild -->
</body>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
