@model IEnumerable<SIGA.Models.TBL_PROVEEDORES>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Proveedores</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table text-center">
                        <thead class=" text-primary">
                            <th>
                                Cédula/RNC
                            </th>
                            <th>
                                Nombre
                            </th>
                        
                            <th>
                                Teléfono
                            </th>
                            <th>
                                Teléfono 2
                            </th>
                            <th class="text-right">
                            
                            </th>
                        </thead>
                        <tbody >
                            <tr>
                                <td>
                                    001-8293839-2
                                </td>
                                <td>
                                    UNIXUS S, A
                                </td>
                                <td>
                                    809-789-2839
                                </td>
                                <td>
                                    N/A
                                </td>
                                <td class="text-right">
                                    <input type="button" class="btn btn-warning" value="Modificar" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    001-6393819-4
                                </td>
                                <td>
                                    INICAROS
                                </td>
                                <td>
                                    829-889-1833
                                </td>
                                <td>
                                    N/A
                                </td>
                                <td class="text-right">
                                    <input type="button" class="btn btn-warning" value="Modificar" />
                                </td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@*<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PROV_DESCRIP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PROV_NUM_IDENT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PROV_TEL1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PROV_TEL2)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PROV_DESCRIP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PROV_NUM_IDENT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PROV_TEL1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PROV_TEL2)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>*@
