@model IEnumerable<SIGA.Models.TBL_PRODUCTOS>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PROD_DESCRIP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PROD_MODELO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PROD_PRECIO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PROD_COSTO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IMG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TBL_PROVEEDORES.PROV_DESCRIP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TBL_TIPOS.TIPO_DESCRIP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TBL_UBICACIONES.UBIC_PASILLO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PROD_DESCRIP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PROD_MODELO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PROD_PRECIO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PROD_COSTO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IMG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TBL_PROVEEDORES.PROV_DESCRIP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TBL_TIPOS.TIPO_DESCRIP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TBL_UBICACIONES.UBIC_PASILLO)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
