@model IEnumerable<SIGA.Models.TBL_MARCAS>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Marcas</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table text-center">
                        <thead class=" text-primary">
                        <th>
                            Nombre
                        </th>

                        <th class="text-right">
                        </th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    Bosch
                                </td>
                                <td>
                                    <input type="button" class="btn btn-warning" value="Modificar" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    Eurol
                                </td>
                                <td>
                                    <input type="button" class="btn btn-warning" value="Modificar" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    Honda
                                </td>
                                <td>
                                    <input type="button" class="btn btn-warning" value="Modificar" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    Kombat
                                </td>
                                <td>
                                    <input type="button" class="btn btn-warning" value="Modificar" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    Wurth
                                </td>
                                <td>
                                    <input type="button" class="btn btn-warning" value="Modificar" />
                                </td>
                                <td></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MARCA_DESCRIP)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MARCA_DESCRIP)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
                @Html.ActionLink("Details", "Details", new { id=item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ID })
            </td>
        </tr>
    }

    </table>*@
