@model SIGA.Models.TBL_MOVIMIENTOS

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TBL_MOVIMIENTOS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MOV_FEC_ENTRADA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOV_FEC_ENTRADA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MOV_USR_ENTRADA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOV_USR_ENTRADA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MOV_FEC_SALIDA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOV_FEC_SALIDA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MOV_USR_SALIDA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOV_USR_SALIDA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TBL_PRODUCTOS.PROD_DESCRIP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TBL_PRODUCTOS.PROD_DESCRIP)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
