@model IEnumerable<SIGA.Models.TBL_MOVIMIENTOS>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MOV_FEC_ENTRADA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MOV_USR_ENTRADA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MOV_FEC_SALIDA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MOV_USR_SALIDA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TBL_PRODUCTOS.PROD_DESCRIP)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MOV_FEC_ENTRADA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MOV_USR_ENTRADA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MOV_FEC_SALIDA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MOV_USR_SALIDA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TBL_PRODUCTOS.PROD_DESCRIP)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
