@using Microsoft.AspNet.Identity
<div class="sidebar" data-color="white" data-active-color="danger">
    <div class="logo">
        <a href="#" class="simple-text logo-mini">
            <div class="logo-image-small">
                <img src="~/Content/assets/img/logo-small.png">
            </div>

        </a>
        <a href="#" class="simple-text logo-normal">
            SGA
            <!-- <div class="logo-image-big">
              <img src="~/content/assets/img/logo-big.png">
            </div> -->
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li>
                <a href="@Url.Action("Index", "Home")">
                    <i class="">
                        <img src="~/Content/assets/img/iconos/home.png">
                    </i>
                    <p>INICIO</p>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "PRODUCTOS")">
                    <i class="">
                        <img src="~/Content/assets/img/iconos/list.png">
                    </i>
                    <p>Productos</p>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Ubicaciones", "PRODUCTOS")">
                    <i class="">
                        <img src="~/Content/assets/img/iconos/location.png">
                    </i>
                    <p>Almacén virtual</p>
                </a>
            </li>
            @*<li>
                <a href="@Url.Action("Index", "PRODUCTOS")">
                    <i class="">
                        <img src="~/Content/assets/img/iconos/bell.png">
                    </i>
                    <p>Notificaciones</p>
                </a>
            </li>*@
            <li>
                <a href="@Url.Action("Index", "MOVIMIENTOS")">
                    <i class="">
                        <img src="~/Content/assets/img/iconos/cargo2.png">
                    </i>
                    <p>Mis Movimientos</p>
                </a>
            </li>
            <li>
                <a href="@Url.Action("admin", "Home")">
                    <i class="">
                        <img src="~/Content/assets/img/iconos/admin.png">
                    </i>
                    <p>Administración</p>
                </a>
            </li>
            <li class="active-pro">
                <a href="@Url.Action("LogOff", "Account")">
                    @if (Request.IsAuthenticated)
                    {
                        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                        {
                            @Html.AntiForgeryToken()

                            <ul class="nav navbar-nav navbar-right">
                                @*<li>
                                    @Html.ActionLink("Bienvenido " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                                </li>*@
                                <li>
                                    <i class="">
                                        <img src="~/Content/assets/img/iconos/sesion.png">
                                    </i>
                                    <a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a>

                                </li>
                            </ul>
                        }
                    }
                    else
                    {
                <ul class="nav navbar-nav navbar-right">
                    <i class="">
                        <img src="~/Content/assets/img/iconos/sesion.png">
                    </i>
                    <li>@Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                </ul>
                    }
                @*</a>*@
            </li>
        </ul>
    </div>
</div>